
<html>
<head>
<title>Manager Login</title>
</head>
<body bgcolor="green" background="C:\Users\Jogindrar.ICSCHE0393\Desktop.download.jpg">


<form name="submit1" action="" method="post">
<!-- 	<form name="RegForm" action="/submit.php" onsubmit="return GEEKFORGEEKS()" method="post">  
 -->
<table width="20%" bgcolor="0099CC" align="center">

<tr>
<td colspan=2><center><font size=4 color="red"><b><I><marquee>Manager Login</marquee></I></b></font></center></td>
</tr>


<tr>
<td>UserName:</td>
<td><input type="text" size=15 name="userid" value="" required></td>
</tr>

<tr>
<td>Password:</td>
<td><input type="Password" size=15 name="psw"></td>
</tr>
<td>
<input type="submit" name="submit">
</td>
</table>
</form>
</body>
</html>
